{% extends 'ItsurAeiBundle::layout.html.twig' %}
{% block title %}
    Evaluación
{% endblock %}
{% block body %}
<td>
<center>
    <header>
    <ul>
           <li class="activo">Inicio</li>
           <li class="activo">Políticas y directrices</li>
           <li class="activo">Identificacion</li>
           <li class="desactivado">Evaluación</li>
           <li class="desactivado">Fin</li>
        </ul>
        <p align="center" class="titulos"> CICLO ESCOLAR: {{ periodo.semestre }}  {{ periodo.anio }}</p>
    </header>
    
    <br/>
    <p align="center"><img src="{{ asset('bundles/itsuraei/images/error.png') }}"/></p>
    <p align="center" class="advertencia">número de ficha:  <span class="titulos">{{ficha}}.</span> <span class="advertencia">¡no encontrado!</span></p>
    <br/>

    <a href="{{ path('evaluacion_identificacion') }}" class="button">
        Regresar
    </a>
        </td>
    </center>
{% endblock %}
