<h1>Area list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Puntaje</th>
            <th>Puntajediagnostico</th>
            <th>Puntajeseleccion</th>
            <th>Tiempo</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('area_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.puntaje }}</td>
            <td>{{ entity.puntajeDiagnostico }}</td>
            <td>{{ entity.puntajeSeleccion }}</td>
            <td>{{ entity.tiempo }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('area_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('area_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('area_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
