{% extends 'ItsurAeiBundle::estalayout.html.twig' %}

{% block title %}
    Estadisticos
{% endblock %}

{% block javascripts %}
         {{ parent() }}
		
     <script type="text/javascript">
		$(function () {
		var chart;
		$(document).ready(function() {
			chart = new Highcharts.Chart({
				chart: {
					renderTo: 'container',
					plotBackgroundColor: null,
					plotBorderWidth: null,
					plotShadow: false
				},
				title: {
					text: 'Bachilleratos'
				},
				subtitle: {
                   text: 'Total de aspirantes: {{total}}'
				   },
				tooltip: {
					pointFormat: '{series.name}: <b>{point.percentage}%</b>',
					percentageDecimals: 2
				},
				plotOptions: {
					pie: {
						allowPointSelect: true,
						cursor: 'pointer',
						dataLabels: {
							enabled: true,
							color: '#000000',
							connectorColor: '#000000',
							formatter: function() {
								return '<b>'+ this.point.name +'</b>: '+ Highcharts.numberFormat(this.percentage, 2) +' %';
							}
						}
					}
				},
				series: [{
					type: 'pie',
					name: 'Bachilleratos',
					data: [
					
					{% for dato in datos %}
                    ['{{dato.bachillerato}}', {{dato.cantidad}}],
	                {% endfor %}						
					]
				}]
			});
		});
		
	});
    </script>
			
   
{% endblock%}

{% block body %}
     
   <div id="container" style="min-width:400px; height: 500px; margin: 0 auto"></div>




    <nav>
     <strong>Carreras: </strong>
     <a href="{{path('post_estadisticos_bachillerato_carrera',{'carrera':'ING.INDUSTRIAL'} ) }}">Industrial</a> 
     | 
     <a href="{{path('post_estadisticos_bachillerato_carrera',{'carrera':'ING. SISTEMAS'} ) }}">Sistemas</a> 
     | 
     <a href="{{path('post_estadisticos_bachillerato_carrera',{'carrera':'ING.GESTION'} ) }}">Gestion</a> 
     | 
     <a href="{{path('post_estadisticos_bachillerato_carrera',{'carrera':'ING.ELECTRONICA'} ) }}">Electronica</a> 
     | 
     <a href="{{path('post_estadisticos_bachillerato_carrera',{'carrera':'ING.INFORMATICA'} ) }}">Informatica</a> 
     | 
     <a href="{{path('post_estadisticos_bachillerato_carrera',{'carrera':'ING.AMBIENTAL'} ) }}">Ambiental</a>
     </nav>
	 
    <br />
	
	<table border="1">
	<caption>{{ periodo.anio}}  {{ periodo.semestre}} </caption>
    <thead>
	<tr>
        <th>Bachillerato</th>
		<th>Cantidad</th>
    </tr>
    </thead>
	<tfoot>
		<tr>
		  <td>Total aspirantes</td>
		  <td>{{total}}</td>
		</tr>
	</tfoot>
	<tbody>
	   {% for dato in datos %}
            <tr>
           <td > {{dato.bachillerato}}</td>
          <td > {{dato.cantidad}}</td> 
		    
	       </tr>
	   {% endfor %}
	</tbody>
    </table>
	
{% endblock %}