{% extends 'ItsurAeiBundle::estalayout.html.twig' %}

{% block title %}    
     Estadisticos
{% endblock %}


{% block javascripts %}
         {{ parent() }}
	
		
     <script type="text/javascript">
		$(function () {
		var chart;
		$(document).ready(function() {
			chart = new Highcharts.Chart({
				chart: {
					renderTo: 'container',
					plotBackgroundColor: null,
					plotBorderWidth: null,
					plotShadow: false
				},
				title: {
					text: 'Aspirantes por carrera'
				},
				subtitle: {
                   text: 'Total de aspirantes: {{total}}'
               },
				tooltip: {
					pointFormat: '{series.name}: <b>{point.percentage}%</b>',
					percentageDecimals: 2 
				},
				plotOptions: {
					pie: {
						allowPointSelect: true,
						cursor: 'pointer',
						dataLabels: {
							enabled: true,
							color: '#000000',
							connectorColor: '#000000',
							formatter: function() {
								return '<b>'+ this.point.name +'</b>: '+ Highcharts.numberFormat(this.percentage, 2) +' %';
							}
							
						}
					}
				},
				series: [{
					type: 'pie',
					name: 'Porcentaje',
					data: [
					
					{% for dato in datos %}
                    ['{{dato.carrera}}', {{dato.cantidad}}],
	                {% endfor %}						
					]
					
				}]
			});
		});
		
	});

    </script>
			
   
{% endblock%}

{% block body %}
   
   
    
   <div id="container" style="min-width: 400px; height: 500px; margin: 0 auto"></div>
   
    <table border="1">
    <caption> {{ periodo.semestre}}  {{ periodo.anio}}  </caption>
	<thead>
	<tr>
        <th>Carrera</th>
		<th>Cantidad</th>

    </tr>
    </thead>
	<tbody>
	
	{% for dato in datos %}
        <tr>
          <td > {{dato.carrera}}</td>
          <td > {{dato.cantidad}}</td> 
		</tr>  
       {% endfor %}
	  	  
   </tbody>
   </table>
   <br />
    Total aspirantes: {{total}}
    
   
   
   
{% endblock %}
