{% block title %}
    Reportes
{% endblock %}

{% block body %}
	<h1>Reportes  Post Evaluación</h1>
	<br/>
	<a href="{{path('calificaciones_aspirantes') }}">Calificaciones Aspirantes</a>
	<br/>
	<a href="{{path('post_estadisticos_carreras') }}">Carreras</a>
	<br/>
	<a href="{{path('post_estadisticos_lugarorigen') }}">Lugar de origen</a>
	<br/>
	<a href="{{path('post_estadisticos_escuelaprocedencia') }}">Escuela de procedencia</a>
	<br/>
	<a href="{{path('post_estadisticos_bachillerato') }}">Bachillerato</a>
	<br/>
	<a href="{{path('post_estadisticos_genero') }}">Genero</a>
	<br/>
	<a href="{{path('post_estadisticos_promediobachillerato') }}">Promedio Bachillerato</a>
{% endblock %}