{% block title %}
    Reportes
{% endblock %}

{% block body %}
	<h1>Reportes Pre Evaluación</h1>
	<br/>
	<a href="{{path('listado_aspirantes') }}">Listado aspirantes</a>
	<br/>
	<a href="{{path('pre_estadisticos_carreras') }}">Carreras</a>
	<br/>
	<a href="{{path('pre_estadisticos_lugarorigen') }}">Lugar de origen</a>
	<br/>
	<a href="{{path('pre_estadisticos_escuelaprocedencia') }}">Escuela de procedencia</a>
	<br/>
	<a href="{{path('pre_estadisticos_bachillerato') }}">Bachillerato</a>
	<br/>
	<a href="{{path('pre_estadisticos_genero') }}">Genero</a>
	<br/>
	<a href="{{path('pre_estadisticos_promediobachillerato') }}">Promedio Bachillerato</a>
{% endblock %}