{% extends 'ItsurAeiBundle::layout.html.twig' %}
{% block title %}
    Evaluación
{% endblock %}

{%block body %}

      <td>
      <table align="center">
      <td colspan="2">
      <p align="center" class="titulos"> Bienvenido a la sección de administración</p>
      </td>
      <tr>
        <td>
            <img src="{{ asset('bundles/itsuraei/images/alumnos.gif') }}"/>
            <a href="{{ path('admin_listado_aspirantes') }}" class="button verde">
                Listado de Aspirantes
            </a>
         </td>
         <td>
             <img src="{{ asset('bundles/itsuraei/images/calificacionesAsp.png') }}"/>
             <a href="{{ path('admin_calificaciones_aspirantes') }}" class="button verde">
                 Calificaciones de Aspirantes
             </a>
         </td>
         </tr>
         <tr>
         <td>
             <img src="{{ asset('bundles/itsuraei/images/areas.png') }}"/>
             <a href="{{ path('admin_areas_aspirante') }}" class="button verde">
                 Calificaciones por Areas
             </a>
         </td>
         <td>
             <img src="{{ asset('bundles/itsuraei/images/science.jpg') }}"/>
             <a href="{{ path('admin_temas_aspirante') }}" class="button verde">
                 Calificaciones por Temas
             </a>
         </td>
         </tr>
      </table>
      </td>
</table>


{% endblock %}
