{% extends 'ItsurAeiBundle::layout.html.twig' %}
{% block title %}
    Evaluación
{% endblock %}

{%block body %}

     
 
      <p align="center" class="titulos"> Bienvenido a la sección de administración</p>
   
            <a href="{{ path('periodo_list') }}" class="button verde">
               Periodos
            </a><br />
        
             <a href="{{ path('aspirante_list',{'carrera':'TODAS','order':'uor'} ) }}" class="button verde">
                 Catalogo de aspirantes
             </a><br />

             <a href="{{ path('manual_list') }}" class="button verde">
                 Lista de manuales
             </a><br />

  <h1>Reportes Pre Evaluación</h1>
  <br/>
  <a href="{{ path('listado_aspirantes') }}" class="button verde">
                Listado de Aspirantes
            </a><br />
  
  <a href="{{path('pre_estadisticos_carreras') }}">Carreras</a>
  <br/>
  <a href="{{path('pre_estadisticos_lugarorigen') }}">Lugar de origen</a>
  <br/>
  <a href="{{path('pre_estadisticos_escuelaprocedencia') }}">Escuela de procedencia</a>
  <br/>
  <a href="{{path('pre_estadisticos_bachillerato') }}">Bachillerato</a>
  <br/>
  <a href="{{path('pre_estadisticos_genero') }}">Genero</a>
  <br/>
  <a href="{{path('pre_estadisticos_promediobachillerato') }}">Promedio Bachillerato</a>




    <h1>Reportes  Post Evaluación</h1>
  <br/>
  <a href="{{ path('calificaciones_aspirantes') }}" class="button verde">
                 Calificaciones de Aspirantes
             </a>
  <br/>
  <a href="{{path('post_estadisticos_carreras') }}">Carreras</a>
  <br/>
  <a href="{{path('post_estadisticos_lugarorigen') }}">Lugar de origen</a>
  <br/>
  <a href="{{path('post_estadisticos_escuelaprocedencia') }}">Escuela de procedencia</a>
  <br/>
  <a href="{{path('post_estadisticos_bachillerato') }}">Bachillerato</a>
  <br/>
  <a href="{{path('post_estadisticos_genero') }}">Genero</a>
  <br/>
  <a href="{{path('post_estadisticos_promediobachillerato') }}">Promedio Bachillerato</a>
 			
			

{% endblock %}
