{% extends 'ItsurAeiBundle::layout.html.twig' %}
{% block title %}
    Evaluación
{% endblock %}

{%block body %}

     
 
      <p align="center" class="titulos"> Bienvenido a la sección de administración</p>
   
            <a href="{{ path('periodo_list') }}" class="button verde">
               Periodos
            </a><br />
			
			<a href="{{ path('admin_listado_aspirantes') }}" class="button verde">
                Listado de Aspirantes
            </a><br />
       
           
             <a href="{{ path('admin_calificaciones_aspirantes') }}" class="button verde">
                 Calificaciones de Aspirantes
             </a><br />
        
             <a href="{{ path('admin_areas_aspirante') }}" class="button verde">
                 Calificaciones por Areas
             </a><br />
       
           
             <a href="{{ path('admin_temas_aspirante') }}" class="button verde">
                 Calificaciones por Temas
             </a><br />
 			
			

{% endblock %}
